
<!DOCTYPE html>
<html lang="zxx">
<head>
	{% load staticfiles %}
<title>Tropical</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plant Nursery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'sensor/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- gallery -->
<link rel="stylesheet" href="{% static 'sensor/css/lightGallery.css' %}" type="text/css" media="all" />
<!-- //gallery -->
<link rel="stylesheet" href="{% static 'sensor/css/flexslider.css' %}" type="text/css" media="screen" property="" />

<link href="{% static 'sensor/css/style7.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'sensor/css/style11.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="{% static 'sensor/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
<div class="banner_top" id="home">
	<div data-vide-bg ="{% static 'sensor/video/flowers' %}">
		
		<div class="center-container">
			<div class="w3_agile_header">
						<div class="w3_agileits_logo">
								<h1><a href="#home">P<i class="fa fa-pagelines" aria-hidden="true"></i>lant <span>Nursery</span></a></h1>
							</div>
							<div class="w3_menu">
							<div class="agileits_w3layouts_top_info_sub">
				
								<ul class="top_agile_info_ad">
									<li>
										<div class="header_contact_details_agile"><i class="fa fa-envelope-o" aria-hidden="true"></i>
											<div class="w3l_header_contact_details_agile">
												 <div class="header-contact-detail-title">Send us a Message</div> 
												<a href="mailto:info@example.com">plantnursery08@iiits.in</a>
											</div>
									   </div>
									</li>
									
								</ul>

							</div>
							
								<div class="overlay overlay-contentpush">
								 <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

								<nav>
									<ul>
										<li><a href="#home" class="active scroll" >Home</a></li>
										<li><a href="#about" class="scroll" >About</a></li>
										<li><a href="#team" class="scroll" >Team</a></li>
										
										<li><a href="#gallery" class="scroll" >Gallery</a></li>
										<li><a href="#mail" class="scroll" >Contact</a></li>
										<li><a href="/login/" class="" >Login</a></li>
									</ul>
								</nav>
							</div>
								<div class="mobile-nav-button">
								<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>

								</div>
							
						</div>

					<div class="clearfix"></div>
			    </div>
				<!-- banner-text -->
				<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
											<h4 style="color:cyan; weight:bold;">A Green Initiative</h4>
												<h3>An IOT based Plant Nursery</h3>
												<p><b>Towards a Better Future</p></b>
											</div>	
								</li>
								<li>
									<div class="agileits-banner-info">
											<h4 style="color:cyan; weight:bold;">A Green Initiative</h4>
												<h3>Because we know the value</h3>
												<p><b>Towards a Better Future</b></p>
											</div>	
								</li>
								<li>
									<div class="agileits-banner-info">
											   <h4 style="color:cyan; weight:bold;">A Green Initiative</h4>
											   <h3>Of Your Contribution</h3>
											   <p><b>Towards a Better Future</b></p>
											</div>	
								</li>
							</ul>
						</div>
						
				</div>
				<!--banner Slider starts Here-->
			<div class="w3_agileits_social_media ">
				<ul class="social-icons3">
					<li><a href="https://www.facebook.com/Plant-Nursery-276447486197736/" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		
      </div>
	  <div class="clearfix"> </div>
   </div>
     </div>
<!-- //banner -->

 <!--/welcome-->
		    <div class="w3agile welcome" id="about"> 
						<div class="container">
						<h3 class="wthree_head"><i class="fa fa-pagelines" aria-hidden="true"></i>About US</h3>
					<div class="w3l_gallery_grids">
			<div class="col-md-6 banner_bottom_left">
				<h3>Welcome to Plant Nursery</h3>
				<p><i>For centuries, humankind regarded the wild as something to be tamed and conquered. Not so much these days. In recent decades, society has changed course and turned its attention to protecting the environment rather than trying to beat it into submission and bend it to better suit our narrow purposes....</p>
				<div class="read"><a href="#" data-toggle="modal" data-target="#myModal" class="hvr-rectangle-in">Read More</a></div>
			</div>
			<div class="col-md-6 banner_bottom_right">
					<div class="agile_w3l_info_gds">
						<div class="banner_bottom_right_grid">
							<div class="view view-tenth">
							<img src="{% static 'sensor/images/a1.jpg' %}" class="img-responsive" alt="">
								
								<div class="mask">
									 <a href="#">
										  <div class="agile_text_box">
												<i class="fa fa-pagelines" aria-hidden="true"></i>
												<h3>Plant Nursery</h3>
												
										  </div>
									 </a>
								</div>
							</div>
						</div>
						<div class="banner_bottom_right_grid">
							<div class="view view-tenth">
							<img src="{% static 'sensor/images/a2.jpg' %}" class="img-responsive" alt="">
								
								<div class="mask">
								   <a href="#">
										<div class="agile_text_box">
											<i class="fa fa-pagelines" aria-hidden="true"></i>
											<h3>Plant Nursery</h3>
											
										</div>
									</a>
								</div>
							</div>
						</div>
					   <div class="clearfix"> </div>
					</div>
					<div class="agile_w3l_info_gds two">
						<div class="banner_bottom_right_grid">
							<div class="view view-tenth">
							<img src="{% static 'sensor/images/a3.jpg' %}" class="img-responsive" alt="">
								
								<div class="mask">
									 <a href="#">
										  <div class="agile_text_box">
												<i class="fa fa-pagelines" aria-hidden="true"></i>
												<h3>Plant Nursery</h3>
												
										  </div>
									 </a>
								</div>
							</div>
						</div>
						<div class="banner_bottom_right_grid">
							<div class="view view-tenth">
							<img src="{% static 'sensor/images/a4.jpg' %}" class="img-responsive" alt="">
								
								<div class="mask">
								   <a href="#">
										<div class="agile_text_box">
											<i class="fa fa-pagelines" aria-hidden="true"></i>
										<h3>Plant Nursery</h3>
											
										</div>
									</a>
								</div>
							</div>
						</div>
					   <div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>	
				</div>
		<!--//welcome-->
		<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="signin-form profile">
						<h3 class="agileinfo_sign">Plant Nursery</h3>	
					<div class="modal-body">
						<img src="{% static 'sensor/images/g1.jpg' %}" alt=" " class="img-responsive" />
						<p><b>For centuries, humankind regarded the wild as something to be tamed and conquered. Not so much these days. In recent decades, society has changed course and turned its attention to protecting the environment rather than trying to beat it into submission and bend it to better suit our narrow purposes.<br>
						The internet of things is one of the most promising technologies we have at our disposal. A self-communicating and largely self-managing system of interconnected devices, IoT is in many ways the technological embodiment of sustainability.<br>
						This smart network can collect an incredible amount of information from the real world, information that can be used to make existing processes profoundly more efficient or do the legwork and lay the foundations for entirely new operational models. But it’s not just about the data collected by these IP addressable devices, it’s about how that data is instantly communicated up and down a chain of purpose-specific terminals, ensuring that relevant information is always in the right place to be intelligently acted on.
						<br>
						In many ways, IoT represents a blank slate for companies, scientists and inventors seeking solutions to open up new frontiers or begin tackling hard-to-isolate problems entrenched deeply within normal processes.
						<br><b>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->

		<!-- banner-text -->
	<div class="banner-text w3-agile-banner-text">
		<div class="agile_dot_info">
			<div class="container">
				<h2> Not only we sow your seeds,
                     We also take care of your saplings!</h2>
			</div>
		</div>
	</div>
<!-- //banner-text -->

<!-- //services -->
<!-- team -->
	<div class="team" id="team">
	   <div class="agile_dot_info two">
		<div class="container">
			<h3 class="wthree_head wthree_head1"><i class="fa fa-users" aria-hidden="true"></i>Our Family</h3>
			<div class="agileits_team_grids">
				<div class="col-md-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{% static 'sensor/images/1.gif' %}" alt=" " width="120px" height="140px" class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="https://www.facebook.com/profile.php?id=100003488366324&fref=ts" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Prashant Mahanta <span>Developer</span></h4>
					<p>IIIT-Sricity Undergrad</p>
				</div>
				<div class="col-md-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{% static 'sensor/images/3.gif' %}" alt=" " width="120px" height="140px"class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="https://www.facebook.com/wasimishaq.khan?fref=ts" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Wasim Khan <span>Developer</span></h4>
					<p>IIIT-Sricity Undergrad</p>
				</div>
				<div class="col-md-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{% static 'sensor/images/2.gif' %}" alt=" " width="120px" height="140px"class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="https://www.facebook.com/vishal.prasad.543792?fref=ts" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Vishal Prasad<span>Developer</span></h4>
					<p>IIIT-Sricity Undergrad <br>kd</p>
				</div>
				<div class="col-md-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{% static 'sensor/images/4.gif' %}" alt=" " width="120px" height="140px"class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="https://www.facebook.com/kaustubh.pandey.94?fref=ts" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Kaustubh Pandey <span>Developer</span></h4>
					<p>IIIT-Sricity Undergrad</p>
				</div>
				<div class="col-md-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{% static 'sensor/images/5.gif' %}" alt=" " width="120px" height="140px"class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="https://www.facebook.com/profile.php?id=100003515224956&ref=content_filter" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Shubham Gupta <span>Developer</span></h4>
					<p>IIIT-Sricity Undergrad</p>
				</div>
				<div class="col-md-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{% static 'sensor/images/6.gif' %}" alt=" " width="120px" height="140px"class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="https://www.facebook.com/ashishkr.p801?fref=ts" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Ashish Kumar Patel <span>Developer</span></h4>
					<p>IIIT-Sricity Undergrad</p>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //team -->

<!-- gallery -->
	<div id="gallery" class="gallery_main">
		<div class="container">
			<h3 class="wthree_head"><i class="fa fa-pagelines" aria-hidden="true"></i>Photo Gallery</h3>
			<div class="w3l_gallery_grids">
				<ul class="w3l_gallery_grid gallery" id="lightGallery">
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/gpo1.jpg' %}" data-responsive-src="{% static 'sensor/images/gpo1.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/gpo1.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/yi6.jpg' %}" data-responsive-src="{% static 'sensor/images/yi6.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/yi6.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/g5.jpg' %}" data-responsive-src="{% static 'sensor/images/g5.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/g5.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
								
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/yi5.jpg' %}" data-responsive-src="{% static 'sensor/images/yi5.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/yi5.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/g8.jpg' %}" data-responsive-src="{% static 'sensor/images/g8.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/g8.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/yi1.jpg' %}" data-responsive-src="{% static 'sensor/images/yi1.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/yi1.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery." data-src="{% static 'sensor/images/g3.jpg' %}" data-responsive-src="{% static 'sensor/images/g3.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/g3.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/sen4.jpg' %}" data-responsive-src="{% static 'sensor/images/sen4.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/sen4.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Plant Nursery" data-src="{% static 'sensor/images/yi2.jpg' %}" data-responsive-src="{% static 'sensor/images/yi2.jpg' %}"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="#">
								<img src="{% static 'sensor/images/yi2.jpg' %}" alt=" " class="img-responsive" /> 
								<div class="caption scale-caption">
									<h3>Plant Nursery</h3>
									
								</div>
							</a>
						</div>
					</li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- contact -->
<!-- testimonials -->
	<div class="testimonials">
	  <div class="agile_dot_info three">
		<div class="container">
		<h3 class="wthree_head two"><i class="fa fa-pagelines" aria-hidden="true"></i>Sensors</h3>

			<div class="w3_testimonials_grids">
				<section class="slider_test_monials">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="col-md-8 w3_testimonials_grid_left">
									<p> Ultasonic Sensor<br>An Ultrasonic sensor is a device that can measure the distance to an object by using sound waves. It measures distance by sending out a sound wave at a specific frequency and listening for that sound wave to bounce back.</p>
								</div>
								<div class="col-md-4 w3_testimonials_grid_right">
									<img src="{% static 'sensor/images/asen1.gif' %}" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</li>
							
							<li>
								<div class="col-md-8 w3_testimonials_grid_left">
									<p>Temperature and Humidity Sensor<br>The DHT11 is a basic, ultra low-cost digital temperature and humidity sensor. It uses a capacitive humidity sensor and a thermistor to measure the surrounding air, and spits out a digital signal on the data pin.</p>
								</div>
								<div class="col-md-4 w3_testimonials_grid_right">
									<img src="{% static 'sensor/images/asen3.gif' %}" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</li>
							<li>
								<div class="col-md-8 w3_testimonials_grid_left">
									<p>Rain Gauge Sensor<br>A rain gauge (also known as an udometer, pluviometer, or an ombrometer) is an instrument used by meteorologists and hydrologists to gather and measure the amount of liquid precipitation over a set period of time.</p>
								</div>
								<div class="col-md-4 w3_testimonials_grid_right">
									<img src="{% static 'sensor/images/asen4.jpg' %}" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</li>
							<li>
								<div class="col-md-8 w3_testimonials_grid_left">
									<p>Soil Moisture Sensor<br>Soil moisture sensors measure the volumetric water content in soil. Measuring soil moisture is important for agricultural applications to help farmers manage their irrigation systems more efficiently.</p>
								</div>
								<div class="col-md-4 w3_testimonials_grid_right">
									<img src="{% static 'sensor/images/asen2.jpg' %}" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</li>
						</ul>
					</div>
				</section>
				</div>
				</div>
		</div>
	</div>
<!-- //testimonials -->

	<div id="mail" class="contact">
		<div class="container">
			<h3 class="wthree_head"><i class="fa fa-pagelines" aria-hidden="true"></i>Mail Us</h3>
			<div class="w3layouts_mail_grids">
				<div class="col-md-5 w3layouts_mail_grid_left">
					<div class="w3_agile_contact_left">
						<ul>
							<li><img src="{% static 'sensor/images/test7.jpg' %}" alt=" " height="120px" class="img-responsive" /></li>
							<li><img src="{% static 'sensor/images/test8.jpg' %}" alt=" " height="120px"class="img-responsive" /></li>
							<li><img src="{% static 'sensor/images/test3.jpg' %}" alt=" " height="120px"class="img-responsive" /></li>
							<li><img src="{% static 'sensor/images/test4.jpg' %}" alt=" " height="120px"class="img-responsive" /></li>
							<li><img src="{% static 'sensor/images/test5.jpg' %}" alt=" " height="120px"class="img-responsive" /></li>
							<li><img src="{% static 'sensor/images/test6.jpg' %}" alt=" " height="120px"class="img-responsive" /></li>
						</ul>
						<h5>Follow us  on</h5>
						
					</div>
				<ul class="w3ls_social two">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="wthree_rss"><i class="fa fa-rss"></i></a></li>
						</ul>
				</div>
				<div class="col-md-7 w3layouts_mail_grid_right">
					<form action="#" method="">
						<div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="Name" placeholder="Name" required="">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="Telephone" placeholder="Telephone" required="">
							<input type="text" name="Subject" placeholder="Subject" required="">
						</div>
						<div class="clearfix"> </div>
						<textarea name="Message" placeholder="Message..." required=""></textarea>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24627.30657465475!2d80.03194498035188!3d13.562698322741216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1509125772222" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
<!-- //contact -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>send a message</h3>
					<ul>
						<li><span>Email :</span> <a href="mailto:plantnursery08@gmail.com">plantnursery08@gmail.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3_agileits_footer_grids">
				<div class="col-md-4 w3_agileits_footer_grid">
					<p>Special 10% additional discount for our new customers. Hurry!</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="wthree_copy_right">
		<div class="container">
			<p>©plantNursery | Design by <a href="">GROUP 8</a></p>
		</div>
	</div>
<!-- //footer -->
<!-- js -->
<script type="text/javascript" src="{% static 'sensor/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- /nav -->
<script src="{% static 'sensor/js/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'sensor/js/classie.js' %}"></script>
<script src="{% static 'sensor/js/demo1.js' %}"></script>
<!-- //nav -->
<script src="{% static 'sensor/js/jquery.vide.min.js' %}"></script>
<!-- for bootstrap working -->
<script src="{% static 'sensor/js/responsiveslides.min.js' %}"></script>
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:false,
							nav:true,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
			</script>
<!-- start-smooth-scrolling -->
	<script src="{% static 'sensor/js/lightGallery.js' %}"></script>
	<script>
    	 $(document).ready(function() {
			$("#lightGallery").lightGallery({
				mode:"fade",
				speed:800,
				caption:true,
				desc:true,
				mobileSrc:true
			});
		});
    </script>
<!-- //gallery -->
	<!-- flexSlider -->
					<script defer src="{% static 'sensor/js/jquery.flexslider.js' %}"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
				<!-- //flexSlider -->
<!-- //for bootstrap working -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'sensor/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'sensor/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript" src="{% static 'sensor/js/bootstrap-3.1.1.min.js' %}"></script>


</body>
</html>
